In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder

In [2]:
dataset = pd.read_csv("train.csv", index_col=['id'], parse_dates=['timestamp'])

In [3]:
dataset

,timestamp,full_sq,life_sq,floor,max_floor,material,build_year,num_room,kitch_sq,state,...,cafe_count_5000_price_2500,cafe_count_5000_price_4000,cafe_count_5000_price_high,big_church_count_5000,church_count_5000,mosque_count_5000,leisure_count_5000,sport_count_5000,market_count_5000,price_doc
id,,,,,,,,,,,,,,,,,,,,,
1,2011-08-20,43,27.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,...,9,4,0,13,22,1,0,52,4,5850000
2,2011-08-23,34,19.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,...,15,3,0,15,29,1,10,66,14,6000000
3,2011-08-27,43,29.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,...,10,3,0,11,27,0,4,67,10,5700000
4,2011-09-01,89,50.0,9.0,NaN,NaN,NaN,NaN,NaN,NaN,...,11,2,1,4,4,0,0,26,3,13100000
5,2011-09-05,77,77.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,...,319,108,17,135,236,2,91,195,14,16331452
6,2011-09-06,67,46.0,14.0,NaN,NaN,NaN,NaN,NaN,NaN,...,62,14,1,53,78,1,20,113,17,9100000
7,2011-09-08,25,14.0,10.0,NaN,NaN,NaN,NaN,NaN,NaN,...,81,16,3,38,80,1,27,127,8,5500000
8,2011-09-09,44,44.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,...,9,4,0,11,18,1,0,47,4,2000000
9,2011-09-10,42,27.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,...,19,8,1,18,34,1,3,85,11,5300000
10,2011-09-13,36,21.0,9.0,NaN,NaN,NaN,NaN,NaN,NaN,...,19,13,0,10,20,1,3,67,1,2000000
11,2011-09-16,36,19.0,12.0,NaN,NaN,NaN,NaN,NaN,NaN,...,1,1,0,5,9,0,2,17,6,4650000
12,2011-09-16,38,19.0,11.0,NaN,NaN,NaN,NaN,NaN,NaN,...,8,3,0,10,9,0,0,35,4,4800000
13,2011-09-17,43,28.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,...,13,9,1,7,15,0,2,47,0,5100000
14,2011-09-19,31,31.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,...,254,108,22,57,102,1,72,166,7,5200000
15,2011-09-19,31,21.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,...,88,19,2,63,100,0,28,132,14,5000000
16,2011-09-20,51,31.0,15.0,NaN,NaN,NaN,NaN,NaN,NaN,...,6,1,0,9,21,0,1,53,9,1850000
17,2011-09-20,47,31.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,...,10,2,0,7,23,0,4,62,13,6300000
18,2011-09-20,42,28.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,...,32,6,0,13,33,1,10,72,12,5900000
19,2011-09-22,59,33.0,10.0,NaN,NaN,NaN,NaN,NaN,NaN,...,1,1,0,6,9,0,2,17,6,7900000
20,2011-09-22,44,29.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,...,9,2,0,10,14,0,2,51,5,5200000
21,2011-09-22,74,44.0,10.0,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,1,5,0,0,0,0,8200000
22,2011-09-22,39,39.0,7.0,NaN,NaN,NaN,NaN,NaN,NaN,...,18,3,0,12,14,0,1,64,9,5200000
23,2011-09-23,48,34.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,...,16,4,1,11,10,0,1,55,8,6250000
24,2011-09-23,32,18.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,...,10,1,0,7,21,1,1,42,13,5750000
25,2011-09-23,34,19.0,11.0,NaN,NaN,NaN,NaN,NaN,NaN,...,20,4,1,8,9,0,1,56,8,6000000
26,2011-09-24,45,29.0,9.0,NaN,NaN,NaN,NaN,NaN,NaN,...,23,15,1,11,23,1,4,70,1,1050000
27,2011-09-26,35,20.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,...,16,5,0,13,25,1,3,84,4,5000000
28,2011-09-26,38,20.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,...,1,1,0,2,10,0,1,11,2,4700000
29,2011-09-26,73,38.0,15.0,NaN,NaN,NaN,NaN,NaN,NaN,...,20,3,0,17,35,0,9,98,7,8254400
30,2011-09-27,42,27.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,...,15,2,0,12,17,0,3,73,5,5900000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30444,2015-06-27,113,1.0,26.0,26.0,1.0,2015.0,4.0,1.0,1.0,...,371,141,26,150,249,2,105,203,13,25039300
30445,2015-06-27,40,40.0,2.0,12.0,4.0,2015.0,1.0,10.0,1.0,...,0,0,0,1,7,1,0,12,1,4350000
30446,2015-06-27,79,NaN,17.0,17.0,1.0,NaN,3.0,79.0,1.0,...,7,2,0,5,14,0,3,17,2,7567425
30447,2015-06-27,85,NaN,20.0,25.0,4.0,2016.0,3.0,1.0,1.0,...,13,4,1,5,7,0,1,38,5,11438948
30448,2015-06-27,47,47.0,19.0,25.0,1.0,2016.0,1.0,1.0,1.0,...,99,57,12,23,42,1,13,123,7,10139368
30449,2015-06-27,82,82.0,8.0,8.0,6.0,2017.0,2.0,1.0,1.0,...,2,2,0,2,9,0,0,7,2,6125400
30450,2015-06-27,64,NaN,15.0,17.0,1.0,NaN,2.0,1.0,NaN,...,7,2,0,5,14,0,3,17,2,6373324
30451,2015-06-27,74,NaN,8.0,17.0,1.0,NaN,3.0,1.0,NaN,...,1,0,0,1,7,0,0,8,0,6888144
30452,2015-06-27,47,47.0,7.0,25.0,1.0,2015.0,1.0,1.0,1.0,...,99,57,12,23,42,1,13,123,7,9227657
30453,2015-06-29,65,NaN,5.0,0.0,1.0,NaN,2.0,0.0,NaN,...,20,4,0,13,28,1,3,84,5,12610000
30454,2015-06-29,37,NaN,3.0,3.0,1.0,0.0,1.0,1.0,1.0,...,0,0,0,0,0,0,0,0,0,2394300
30455,2015-06-29,38,19.0,7.0,17.0,1.0,2006.0,1.0,7.0,3.0,...,26,12,0,8,23,1,4,67,2,6800000
30456,2015-06-29,45,1.0,6.0,15.0,6.0,2015.0,1.0,1.0,1.0,...,2,1,0,3,8,1,0,20,3,4066740
30457,2015-06-29,40,26.0,3.0,9.0,2.0,1972.0,2.0,5.0,3.0,...,25,3,0,17,29,0,8,90,4,6300000
30458,2015-06-29,79,79.0,3.0,3.0,1.0,NaN,3.0,1.0,NaN,...,1,1,0,2,12,0,1,10,0,9014972
30459,2015-06-29,52,30.0,8.0,14.0,1.0,1992.0,2.0,8.0,2.0,...,13,4,1,5,7,0,1,42,6,1000000
30460,2015-06-29,58,43.0,7.0,9.0,1.0,1979.0,3.0,6.0,3.0,...,5,0,0,8,7,1,1,36,1,7800000
30461,2015-06-29,50,1.0,7.0,7.0,1.0,2015.0,1.0,0.0,1.0,...,13,1,0,5,15,0,3,35,3,6370777
30462,2015-06-29,51,NaN,4.0,17.0,4.0,NaN,2.0,1.0,1.0,...,7,2,0,5,14,0,3,17,2,5778893
30463,2015-06-29,54,32.0,8.0,16.0,1.0,1979.0,2.0,9.0,2.0,...,8,0,0,6,25,0,1,32,8,9500000
30464,2015-06-30,36,19.0,5.0,16.0,1.0,1980.0,1.0,8.0,3.0,...,41,4,1,4,35,1,6,80,6,5000000
30465,2015-06-30,47,30.0,23.0,25.0,4.0,2016.0,1.0,10.0,1.0,...,99,57,12,23,42,1,13,123,7,10544070
30466,2015-06-30,56,29.0,13.0,14.0,1.0,2001.0,2.0,11.0,3.0,...,14,2,0,13,12,0,1,53,6,12000000
30467,2015-06-30,56,51.0,19.0,19.0,1.0,2017.0,2.0,1.0,1.0,...,25,3,0,14,29,1,4,90,6,10262010
30468,2015-06-30,52,NaN,13.0,17.0,1.0,NaN,2.0,1.0,1.0,...,371,141,26,150,249,2,105,203,13,6750554
30469,2015-06-30,44,27.0,7.0,9.0,1.0,1975.0,2.0,6.0,3.0,...,15,5,0,15,26,1,2,84,6,7400000
30470,2015-06-30,86,59.0,3.0,9.0,2.0,1935.0,4.0,10.0,3.0,...,313,128,24,98,182,1,82,171,15,25000000
30471,2015-06-30,45,NaN,10.0,20.0,1.0,NaN,1.0,1.0,1.0,...,1,1,0,2,12,0,1,11,1,6970959
30472,2015-06-30,64,32.0,5.0,15.0,1.0,2003.0,2.0,11.0,2.0,...,22,1,1,6,31,1,4,65,7,13500000
30473,2015-06-30,43,28.0,1.0,9.0,1.0,1968.0,2.0,6.0,2.0,...,5,2,0,7,16,0,9,54,10,5600000

In [4]:
dataset.describe()

/home/maxking/anaconda3/lib/python3.5/site-packages/numpy/lib/function_base.py:3834: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

,full_sq,life_sq,floor,max_floor,material,build_year,num_room,kitch_sq,state,area_m,...,cafe_count_5000_price_2500,cafe_count_5000_price_4000,cafe_count_5000_price_high,big_church_count_5000,church_count_5000,mosque_count_5000,leisure_count_5000,sport_count_5000,market_count_5000,price_doc
count,30471.000000,24088.000000,30304.000000,20899.000000,20899.000000,1.686600e+04,20899.000000,20899.000000,16912.000000,3.047100e+04,...,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,3.047100e+04
mean,54.214269,34.403271,7.670803,12.558974,1.827121,3.068057e+03,1.909804,6.399301,2.107025,1.765705e+07,...,32.058318,10.783860,1.771783,15.045552,30.251518,0.442421,8.648814,52.796593,5.987070,7.123035e+06
std,38.031487,52.285733,5.319989,6.756550,1.481154,1.543878e+05,0.851805,28.265979,0.880148,2.064961e+07,...,73.465611,28.385679,5.418807,29.118668,47.347938,0.609269,20.580741,46.292660,4.889219,4.780111e+06
min,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000e+00,0.000000,0.000000,1.000000,2.081628e+06,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000e+05
25%,38.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.307411e+06,...,2.000000,1.000000,0.000000,2.000000,9.000000,0.000000,0.000000,11.000000,1.000000,4.740002e+06
50%,49.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.050803e+07,...,8.000000,2.000000,0.000000,7.000000,16.000000,0.000000,2.000000,48.000000,5.000000,6.274411e+06
75%,63.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.803644e+07,...,21.000000,5.000000,1.000000,12.000000,28.000000,1.000000,7.000000,76.000000,10.000000,8.300000e+06
max,5326.000000,7478.000000,77.000000,117.000000,6.000000,2.005201e+07,19.000000,2014.000000,33.000000,2.060718e+08,...,377.000000,147.000000,30.000000,151.000000,250.000000,2.000000,106.000000,218.000000,21.000000,1.111111e+08

In [41]:
i = 0;
for column in dataset:
    if i > 1:
        try:
            val = float(dataset[column].iloc[0])
        except:
            encoder = OneHotEncoder()
            label_encoder = LabelEncoder()
            data_label_encoded = label_encoder.fit_transform(dataset[column])
            dataset[column] = data_label_encoded
            data_feature_one_hot_encoded = encoder.fit_transform(dataset[[column]].as_matrix())
            
        dataset[column] = dataset[column].fillna(dataset[column].mean())
        
    i += 1

In [45]:
dataset.to_csv("posttrain.csv")